* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(248, 245, 245);  
}

.board {
  width: 640px;
  height: 640px;
  display: flex;
  border: 2px solid black;
}

img {
  width: 100px;

}